/* frames-per-second */
fps = 40

/* window dimensions */
window_width = 1200
window_height = 800

/* orthographic projection values */
left = 0.0
right = 1.0
bottom = 0.0
top = 1.0

/* game's grid dimensions (for best viewing, they should be around 1/3 of the windows' dimensions) */
game_width = 300
game_height = 200

/* init_config = xx_|_xx|xx */
/* init_config = xxx|__x|_xx */
init_config = xx__xxx|___x|_x
